*{
    margin: 0;
    padding: 0;
}
.header, .hero, .Body, .bar, .footer{
    background-color: pink;
    margin-top: 15px;
} 
h1{
    background-color: #99D9EA;
    border: 4px solid green;
}
/*.col-md-9{
    border: 4px solid green;
}*/
h3{
    border: 4px solid yellow;
    background-color: #99D9EA;
    font-size: 40px;
}
.wrapper{
   background-color: red;
}
.text2{
    border: 1px solid green;
}